/* stili generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 14px;
}

/* stili nav */

nav{
    background-color: lightskyblue;
    padding: 10px 0;   
}

.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    /* DEBUG */
    background-color: orange;
    border: 1px dotted black;
}

.container-nav ul{
    display: flex;
    border: 3px dotted black;
    flex-basis: 50%;
    justify-content: center;
    padding: 10px 10px; 
}

ul li{
    list-style-type: none;
    padding: 0 10px;
}

.container-nav div{
    flex-basis: 25%;
    border: 3px dotted black;
    padding: 10px 10px;
}

.container-nav button{
    flex-basis: 25%;
    border: 3px dotted black;
    padding: 10px 10px;
}

/* stili main-header */

.main-header{
    background-color: blue;
    display: flex;
}

.text-header{
    width: 60%;
    margin: 20px auto;
    padding: 25px 0;
    /* DEBUG */
    min-height: 250px;
    background-color: pink;
}

/* stili main generali*/

section{
    padding: 20px 0;
}

.container-section{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.img-main{
    flex-basis: 60%;
    /* DEBUG */
    min-height: 250px;
    background-color: rgb(70, 70, 233);
}


.text-main{
    flex-basis: 40%;
    /* DEBUG */
    min-height: 250px;
    background-color:pink;
}


/* stili section specifici */

.sezione2, .sezione4{
    background-color: rgb(200, 195, 195);
}

#img-main2{
    flex-basis: 60%;
    order: 1;
    /* DEBUG */
    min-height: 250px;
    background-color: rgb(70, 70, 233);
}

#container-section4{
    width: 70%;
    margin: 0 auto;
    padding: 25px 0;
    /* DEBUG */
    min-height: 300px;
    background-color: green;
}



/* stili footer */

footer{
    background-color: rgb(52, 47, 47);
}
.container-footer{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 5px 0 30px 0;
    min-height: 400px;
}

.social{
    flex-basis: 50%;
    background-color: pink;
}

.list{
    flex-basis: 25%;
    background-color: aqua;
    border: 2px dotted white;
}

#end{
    border-top:1px solid gray;
    padding-top: 10px;
}

.container-end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  lightskyblue;
    width: 70%;
    margin: 0 auto;
    min-height: 40px;
}

